.ReactModal__Content {
    opacity: 0;
}
  
.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 250ms;
}

.ReactModal__Content--before-close {
    opacity: 0;
}

.Modal {
    position: relative;
    padding-top: 7%;
}